!!! 5
html
    include ../layout/_head.jade
    body
        //if lt IE 8
          p.chromeframe.
            You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a>
            to improve your experience.
        p Jade is works
        include ../base/_scripts.jade